<ion-header>
  <ion-toolbar>
    <ion-title>
      CAYD - Comunicaciones Analógicas y Digitales - Hernán Paz Penagos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="main-card">
          <ion-card-header>
            <ion-card-title>
              Plano de Eficiencia de Ancho de Banda
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <canvas
                baseChart
                [type]="'scatter'"
                [data]="lineChartData"
                [options]="lineChartOptions"
              >
              </canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
