<ion-header>
  <ion-toolbar>
    <ion-title>
      CAYD - Comunicaciones Analógicas y Digitales - Hernán Paz Penagos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="main-card">
          <ion-card-header class="ion-margin">
            <ion-card-title>
              Plano de Eficiencia de Ancho de Banda
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin">
            <p class="ion-margin">
              Representación gráfica del plano de eficiencia de ancho de banda,
              el cual permite establecer una frontera entre los sistemas que
              pueden transmitir información de una manera confiable y los que no
              pueden garantizar esta tarea.
            </p>
            <div class="ion-margin">
              <!-- El elemento canvas permite renderizar en pantalla la 
              información de la gráfica -->
              <canvas
                baseChart
                [type]="'scatter'"
                [data]="lineChartData"
                [options]="lineChartOptions"
              >
              </canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
