<ion-header>
  <ion-toolbar>
    <ion-title>
      CAYD - Comunicaciones Analógicas y Digitales - Hernán Paz Penagos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="main-card">
          <ion-card-header class="ion-margin">
            <ion-card-title>
              Plano de Eficiencia de Ancho de Banda
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin">
            <ion-row>
              <ion-col>
                <p class="ion-margin">
                  Representación gráfica del plano de eficiencia de ancho de
                  banda, el cual permite establecer una frontera entre los
                  sistemas que pueden transmitir información de una manera
                  confiable y los que no pueden garantizar esta tarea.
                </p>
              </ion-col>
              <ion-col>
                <ion-img
                  src="https://github.com/CAYD-EscuelaIng/plano-eficiencia-ancho-de-banda/blob/main/src/assets/imagen.jpg?raw=true"
                  class="imagen"
                >
                </ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-margin">
                  <!-- El elemento canvas permite renderizar en pantalla la 
                  información de la gráfica -->
                  <canvas
                    baseChart
                    [type]="'scatter'"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                  >
                  </canvas>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
